#LPContainer {

   width: 99%;
   background: linear-gradient(to right, #d5dbdb, #3db9c9);
   /* background-image: url('./backgroundimage1.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center; */
}
#LP-Header{

    background-color: #1E90FF;
    padding: 5px;
    margin: 5px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    width: 99%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
  }

#Valp-Curr {

  display: block;
  margin-top: 120px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  /* background: linear-gradient(to right, #d5dbdb, #3db9c9); */
}

#Valueproposition {

  display: block;
  margin-top: 0px;
  height: 390px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  /* background-image: url('../study-group-img.avif'); */
}

#Valp-h1 {

  padding-top: 40px;
  font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
  text-align: left;
  color: rgb(4, 73, 73);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

#Valueproposition p {

  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  width: 40%;
  margin-left: 20px;
  text-align: left;
}

#LPbutton {

  margin-top: 10px;
  padding: 8px 15px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

#Curriculum {

  display: block;
  margin-top: 10px;
  height: 390px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  /* background: linear-gradient(to right, #d5dbdb, #3db9c9); */
}

#testimonials {

    display: block;
    width: 99%;
    margin-top: 120px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}