.list-container {
    overflow-y: scroll;
    height: 300px;
  }
  
  .swipe-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .swipe-list li {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 5px;
  }
  